
/* Outline menu */


.menu{
  display: flex;
  flex-direction: column;

  background-color: blanchedalmond;
  text-align: center;
  width: 200px;
}


/* item in menu + hover action */

.menu .item{
  height: 50px;
  line-height: 50px;

  width: 100%;
  border-top: solid 1px white;
  position: relative;
}

.menu .item:first-child{
  border-top: none;
}

.menu .item:hover{
  background-color:rgb(122, 122, 122)
}






/* submenu */


.sub_menu {
  background-color: rgb(156, 39, 39);
  display: none;

  width: 200%;
  position: absolute;
  left: 100%;
  top: 0;
}


.menu .item:hover .sub_menu{
  display: block;
}


.sub_menu .sub_item{
  border-top: solid 1px white;
}

.sub_menu .sub_item:hover{
  background-color: rgb(146, 146, 146);
}