body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    color:white;
    display: flex;
    flex-direction: column;
    
    height: 100%;
    background-color: rgb(185, 185, 185);
}




.top{
    margin: 8px;

    background-color: rgb(165, 126, 190);
    border: solid black 2px;
    height: 100px;

    display: flex;
    align-items: center;
}

.header{
    width: 30%;
    height: 50px;

    padding: 8px;

}

.menu{
    
    width: 70%;
    background-color:rgb(84, 156, 117);
    height: 50px;

    padding: 8px;
    border: solid black 2px;
}


.main{
    display: flex;

    height: 200px;


    text-align: center;
}



.list_item{

    display:flex;
    flex-direction: column;
    width: 70%;
}

.item{
    margin: 8px;

    background-color:rgb(84, 156, 117);
    border: solid black 2px;
    height: 50%;
    
}

.sidebar{
    margin: 8px;

    background-color:rgb(84, 156, 117);
    border: solid black 2px;
    width: 30%;
    line-height: 200px;

}



.footer{
    margin: 8px;
    
    background-color: rgb(165, 126, 190);
    border: solid black 2px;

    height: 100px;
    line-height: 100px;
    text-align: center;


}


