body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}



.landing-page {
    background-image: url('https://github.com/LeCheWang/LeCheWang.github.io/blob/master/kitter/assets/images/hero-banner.jpg?raw=true');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* for content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200%;
}
/* ```````````````````````````````Nav bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar .icons {
    display: flex;
    align-items: center;
}

.navbar .icons a {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

/* ````````````````````````````````Content*/
.content {
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 24px;
    margin-bottom: 40px;
}

/*``````````````````````````````````` Shop butteon */
.shop-now {
    background-color: #ff7f50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.shop-now:hover {
    background-color: #ff6347;
}

/*``````````````````````````````````` break*/

.break{
    padding-top: 200px;
    background-color: #ff6347;
}