<link rel="stylesheet" href="css/menu.css">

<div class="menu">
    <div class="item">
        <a href="/home">Home</a>
    </div>
    <div class="item">
        <a href="/product">Product</a>
    </div>
    <div class="item">
        <a href="/about">About</a>
    </div>
    <div class="item">
        <a href="/contact">Contact</a>
    </div>
    <div class="item">
        <a href="profile">Profile</a>
    </div>
</div>