body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    color:white;
    display: block;
    height: 400px;
}


.header{
    background-color: rgb(226, 43, 98);
    height: 100px;
}

.menu{
    background-color: cornflowerblue;
    height: 50px;
}




.items{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left{
    background-color: darkseagreen;
    width: 20%;
}

.content {
    background-color: rgb(14, 143, 14);
    width: 60%;
}

.right{
    background-color: coral;
    width: 20%;
}





.footer{
    background-color: darkslateblue;
    height: 60px;
}

